body{
    font-family: Bauhos 93,sans-serif;
    margin: 0;
    padding: 20px;
    background-color: aqua;
    text-align: center;

img{
    width: 200px;
    height: auto;
    border-radius; 10px;
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
}